
<link href="https://fonts.googleapis.com/css2?
    family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?
    family=Anton&display=swap&subset=latin-ext" rel="stylesheet">

* {
    font-family: 'Open Sans', sans-serif;
}

.titulos {

    color: #000000;
    text-align: center;
    font-family: 'Anton', sans-serif;

}

.parrafo {
    text-align:justify; 
    color:blue;
    margin-top: 10px;
    border: 2px black solid;
    padding: 10 px;

}

